<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.istar.mapper.UserMapper">
    <select id="queryUserList" resultType="com.example.istar.entity.UserEntity">
        SELECT *
        FROM t_user
        where id &gt;= (SELECT u.id
                        FROM t_user u
                        order by id
                        limit 1 offset #{index})
        order by id
        limit #{size} offset 0;
    </select>
    <select id="queryUser" resultType="com.example.istar.entity.UserEntity">
        select *
        from t_user u
        where true
        <if test="username !=null and username != '' ">
            AND u.username = #{username}
        </if>
        <if test="email !=null and email != '' ">
            AND u.email = #{email}
        </if>
        <if test="mobile !=null and mobile != '' ">
            AND u.mobile = #{mobile}
        </if>
        <if test="uuid !=null and uuid != '' ">
            AND u.uuid = #{uuid}
        </if>
        <if test="id !=null">
            AND u.id = #{id}
        </if>
    </select>
    <select id="queryTotal" resultType="java.lang.Long">
        select count('id')
        from t_user tu;
    </select>
</mapper>
