<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.istar.mapper.VideoMapper">
    <select id="getVideoByVideoId" resultType="com.example.istar.entity.Video">
        select *
        from t_video
        where video_id = #{videoId}
    </select>

    <select id="getVideosByKeyword" resultType="com.example.istar.entity.Video">
        select *
        from t_video v
        where v.video_title like '%${keyword}%'
           or v.video_desc like '%${keyword}%'
           or v.video_tags like '%${keyword}%'
        order by v.video_likes desc
        limit #{pageIndex}, #{pageSize}
    </select>

    <select id="getSelfVideos" resultType="com.example.istar.entity.Video">
        select *
        from t_video tv
        where tv.uuid = #{uuid}
    </select>
</mapper>
